.update_img .reactEasyCrop_CropAreaGrid {
  width: 300px !important;
  height: 300px !important;
  color: rgba(255, 255, 255, 0.5);
}

.cover_cropper .reactEasyCrop_Container {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
